<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
    version="2.5">

  <display-name>exc</display-name>

  <servlet>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>com.exadel.exc.StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ExcServlet</servlet-name>
    <servlet-class>com.exadel.exc.ExcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcServlet</servlet-name>
    <url-pattern>/exc</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BlockServlet</servlet-name>
    <servlet-class>com.exadel.exc.BlockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockServlet</servlet-name>
    <url-pattern>/block</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PatServlet</servlet-name>
    <servlet-class>com.exadel.exc.PatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatServlet</servlet-name>
    <url-pattern>/pat</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>com.exadel.exc.ConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigServlet</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>/exc</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>/exc</location>
  </error-page>
  <display-name>exc</display-name>

  <!--
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   -->
</web-app>